In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/framingham.csv")
print(df.shape)
df = df.dropna()
print(df.shape)
df = df.drop(columns=["education", "currentSmoker", "BPMeds", "diabetes", "diaBP", "BMI"])#.dropna()
print(df.shape)
df = df.dropna()
print(df.shape)

df.head()

(4238, 16)
(3656, 16)
(3656, 10)
(3656, 10)

,male,age,cigsPerDay,prevalentStroke,prevalentHyp,totChol,sysBP,heartRate,glucose,TenYearCHD
0,1,39,0.0,0,0,195.0,106.0,80.0,77.0,0
1,0,46,0.0,0,0,250.0,121.0,95.0,76.0,0
2,1,48,20.0,0,0,245.0,127.5,75.0,70.0,0
3,0,61,30.0,0,1,225.0,150.0,65.0,103.0,1
4,0,46,23.0,0,0,285.0,130.0,85.0,85.0,0

In [5]:
df.describe()

,male,age,cigsPerDay,prevalentStroke,prevalentHyp,totChol,sysBP,heartRate,glucose,TenYearCHD
count,3656.000000,3656.000000,3656.000000,3656.000000,3656.000000,3656.000000,3656.000000,3656.000000,3656.000000,3656.000000
mean,0.443654,49.557440,9.022155,0.005744,0.311543,236.873085,132.368025,75.730580,81.856127,0.152352
std,0.496883,8.561133,11.918869,0.075581,0.463187,44.096223,22.092444,11.982952,23.910128,0.359411
min,0.000000,32.000000,0.000000,0.000000,0.000000,113.000000,83.500000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,0.000000,0.000000,0.000000,206.000000,117.000000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,0.000000,0.000000,0.000000,234.000000,128.000000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,20.000000,0.000000,1.000000,263.250000,144.000000,82.000000,87.000000,0.000000
max,1.000000,70.000000,70.000000,1.000000,1.000000,600.000000,295.000000,143.000000,394.000000,1.000000

In [6]:
grouped = df.groupby('TenYearCHD')
grouped.count()
#grouped.apply(lambda x: 1)

,male,age,cigsPerDay,prevalentStroke,prevalentHyp,totChol,sysBP,heartRate,glucose
TenYearCHD,,,,,,,,,
0,3099,3099,3099,3099,3099,3099,3099,3099,3099
1,557,557,557,557,557,557,557,557,557

In [7]:
#data = grouped.apply(lambda x: x.sample(grouped.size().min(), random_state=73).reset_index(drop=True))
data = grouped.apply(lambda x: x.sample(500, random_state=73).reset_index(drop=True))
#data
data.describe()

,male,age,cigsPerDay,prevalentStroke,prevalentHyp,totChol,sysBP,heartRate,glucose,TenYearCHD
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,0.472000,51.656000,9.169000,0.007000,0.386000,238.652000,136.686500,75.553000,84.044000,0.50000
std,0.499465,8.649073,12.115082,0.083414,0.487074,43.659398,24.622789,12.138803,32.487991,0.50025
min,0.000000,34.000000,0.000000,0.000000,0.000000,124.000000,83.500000,48.000000,40.000000,0.00000
25%,0.000000,45.000000,0.000000,0.000000,0.000000,209.000000,119.000000,67.000000,71.000000,0.00000
50%,0.000000,52.000000,0.000000,0.000000,0.000000,238.000000,132.000000,75.000000,78.000000,0.50000
75%,1.000000,59.000000,20.000000,0.000000,1.000000,266.000000,149.000000,82.000000,87.000000,1.00000
max,1.000000,69.000000,60.000000,1.000000,1.000000,464.000000,295.000000,143.000000,394.000000,1.00000

In [8]:
ndata = data.reset_index(drop=True).drop(columns="TenYearCHD").apply(lambda x: (x-x.mean())/ x.std(), axis=0)
ndata["TenYearCHD"] = data["TenYearCHD"].reset_index(drop=True)
ndata = ndata.sample(len(ndata), random_state=42)
ndata

,male,age,cigsPerDay,prevalentStroke,prevalentHyp,totChol,sysBP,heartRate,glucose,TenYearCHD
521,1.057131,-1.116420,0.894010,-0.083918,-0.792487,0.053780,-0.758911,-0.622219,-0.309160,1
737,1.057131,-1.116420,0.894010,-0.083918,-0.792487,-0.312693,-1.083813,-0.869361,-0.216819,1
740,-0.945011,-0.538324,-0.756825,-0.083918,-0.792487,-0.198170,0.012732,-0.045556,-0.247599,1
660,-0.945011,1.311586,-0.756825,-0.083918,1.260588,1.542577,2.368274,-0.045556,0.090987,1
411,1.057131,-0.653943,0.894010,-0.083918,1.260588,0.328635,0.906213,-0.951741,-0.432283,0
...,...,...,...,...,...,...,...,...,...,...
106,-0.945011,0.155392,-0.756825,-0.083918,-0.792487,-0.152361,-0.840136,-0.210317,-0.032135,0
270,-0.945011,-0.769562,-0.756825,-0.083918,1.260588,-0.381407,1.231116,0.531107,0.121768,0
860,1.057131,0.155392,-0.756825,-0.083918,-0.792487,-0.083648,-0.271557,0.695868,-0.186038,1
435,1.057131,-1.810136,-0.756825,-0.083918,-0.792487,0.145398,-0.210638,2.013955,-0.678528,0
102,1.057131,0.849108,2.544844,-0.083918,1.260588,-1.160163,-1.043200,-0.045556,-1.232579,0

In [9]:
ndata.to_csv(f"data/myTenYearCHD_n{len(ndata)}.csv")